.App {
  text-align: center;
  padding: 20px;
}

.plain-label {
  border: 1px solid #000;
  padding: 10px 15px;
  display: inline-block;
  margin: 5px;
  width: 100%;
}

.success-label {
  background: green;
  color: #fff;
  border-color: green;
}

.error-label {
  background: red;
  color: #fff;
  border-color: red;
}

.plain-button {
  padding: 10px 15px;
  border: 1px solid #000;
  margin: 0 5px;
  display: inline-block;
}

.success-button {
  background: green;
  color: #fff;
  border-color: green;
}

.error-button {
  background: red;
  color: #fff;
  border-color: red;
}
